PORT=3000
INPLAY_USERNAME=jja
INPLAY_INITIAL_PASSWORD=password
INPLAY_COOKIE_SECURE=true

NOWGOAL_GCS_BUCKET=your-nowgoal-bucket
NOWGOAL_GCS_PREFIX=nowgoal-data
FLASHSCORE_GCS_BUCKET=
FLASHSCORE_GCS_PREFIX=flashscore-data
GCP_SERVICE_ACCOUNT_FILE=/opt/equalsredeemer/gcp-service-account.json
